*{
    box-sizing: border-box;
    

    
}
/* body */
body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    
}
.services{
    text-align: center;
    margin-top: 20px;
}
.services h3{
    color: darkblue;
    
}
.difference{
    text-align: center;
    margin-top: 20px;
}
.difference h3{
    color: blue;
}
.olist{
    text-align: center;

}


#h1{
    color: rgb(141, 211, 29);
    text-align: center;

    font-size: 40px;
    margin-top: 100px;
}
#fom{
    text-align: center;
    margin-top: 50px;
    background-color: cadetblue;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 400px;
    margin: auto;
    border-radius: 20px;


}
.loginhd{
    margin-top: 100px;
}
h2{
    text-align: center;
}
.sbtn{
    background-color: blue;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(190, 11, 11);
    font-weight: 600;
}


ul{
    margin: 0;
    padding: 0;
    background-color: rgb(109, 112, 122);
    list-style-type: none;
    height: 70px;
    overflow: hidden;
    top: 0;
    width: 100%;
    position: fixed;

    
    
}
#logoimage{
    height: 70px;
    width:25%;

}

li{
    float: right;
}
li a{
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px  16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

    
}

li a:hover{
    background-color: darkgoldenrod;
    color: rgb(33, 219, 8);
}
ul li a.active{
    background-color: rgb(47, 129, 9);
    color: rgb(0, 0, 0);
    font-size: 20px;
}
ul li a.active:hover{
    background-color: rgb(128, 25, 81);
    color: rgb(255, 255, 255);
}
#gallery{
    text-align: center;
    color: rgb(255, 0, 149);
    

    
}
.joinbtn{
    margin: auto;
    width: 200px;
    height: 40px;
    cursor: pointer;
    color: blue;
    font-weight: 800;
    border-radius: 20px;
    background-color: darkgreen;
    border: none;
    margin-left: 500px;
    font-size: 20px;


}
.joinbtn:hover{
    background-color: aqua;
    color: white;
    transition: 0.15sec;
}
.imagebox{
    width: 33.33%;
    float: left;
    padding: 5px;
}
.myimages::after{
    content: "";
    clear: both;
    display: table;

}
.flexcontainer{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    
   padding-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
}
/* .flexcontainer .box{
    text-align: center;
    width: 25%;
    
    line-height: 1.7;
    margin: 10px;
} 
*/
.about{
    text-align: center;
    margin-top: 100px;
    
}
.difference{
    margin-top: 40px;
    padding: 40px;
}


.about h4{
    color: blue;
}
/* footer styles */

.footer a:hover{
    
    color: rgb(207, 6, 6);
}
.footer a{
    text-decoration: none;
    margin: 10px;
    line-height: 20px;
    font-weight: 600;
    font-size: 16px;
}
.footer{
    height: 200px;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}
.services{
    margin-top: 100px;

}
/* .divlast{
    height: 500px;
} */

